:root {
    --radius_button: 4px;
    --color1: #00000033;
    --color2: #DFD9D9;
    --color3: #91B599;
    --font_size1: 16px;
    --color_article_AddCart: #C3B97F;
}


.container {
    width: min(100%, 1440px);
    padding: 32px 20px;
    background-color: #1C5550;
    margin: auto;

    display: grid;
    gap: 48px 40px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 48px 146px 146px 220px;
    grid-template-areas: "header header header header"
    "aside section1 section1 section2"
    "aside section1 section1 section3"
    "article1 article2 article3 article4";
}

/* header  */
.header {
    grid-area: header;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 48px;
    height: 48px;
}

.header_nav_ul {
    display: flex;
    column-gap: 80px;
}

.header_nav_li_a {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    color: var(--color2);
}

.header_section {
    display: flex;
    column-gap: 32px;
}

.header_button_user {
    border-style: none;
    width: 32px;
    height: 32px;
    cursor: pointer;

    
    border-radius: var(--radius_button);
    background-color: var(--color1);
    box-shadow: 0px 2px 4px -2px #DFD9D966 inset;

    box-shadow: 0px 2px 4px 0px #00000033;    
}

.header_user {
    font-size: var(--font_size1);
    color: var(--color3);
}

.header_button_cart {
    border-style: none;
    width: 32px;
    height: 32px;
    cursor: pointer;
    
    border-radius: var(--radius_button);
    background-color: var(--color1);
    box-shadow: 0px 2px 4px -2px #DFD9D966 inset;
    box-shadow: 0px 2px 4px 0px #00000033;

}

.header_cart{
    font-size: var(font_size1);
    color: var(--color_article_AddCart);
}

.header_user:hover,
.header_cart:hover,
.header_nav_li_a:hover {
    color: gray;
}

/* aside  */
.aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    padding: 38px 0 0 40px;
    justify-content: left;
    row-gap: 16px;
    background-color: var(--color1);
    box-shadow: 0px 4px 4px 0px #00000033 inset;

    box-shadow: 0px -1px 4px 0px #DFD9D966 inset;

    
}

.aside_h3 {
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 27px;
    color: #C3B97F;
}

.aside_ul {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.aside_nav_a {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 25px;
    color: var(--color3);   
}

.aside_nav_a:hover {
    color: gray;
}

/* section1 */
.section1 {
    grid-area: section1;

    background: url(../images/Rectangle\ 1.png) no-repeat center;
}

/* section2 */
.section2 {
    grid-area: section2;

    background: url(../images/Rectangle\ 9.png) var(--color2) no-repeat center;
}

/* section3 */
.section3 {
    grid-area: section3;

    background: url(../images/Rectangle\ 10\ \(1\).png) var(--color2) no-repeat center;

}

/* article  */
.article1 {
    grid-area: article1;
    display: flex;
    flex-direction: column;

}

.article2 {
    grid-area: article2;
    display: flex;
    flex-direction: column;

}

.article3 {
    grid-area: article3;
    display: flex;
    flex-direction: column;

}

.article4 {
    grid-area: article4;
    display: flex;
    flex-direction: column;

}

.article_images {
    width: 100%;
    height: 180px;
    object-fit: cover;
    object-position: center;
}

.article_section {
    padding-left: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color2);
}

.article_p {
    font-family: "Inter", sans-serif;
    font-size: var(font_size1);
    font-weight: 700;
    line-height: 24px;
    color: #1C5550;  

}

.article_button {
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 22px;
    color: var(--color2);
    cursor: pointer;


    border-style: none;
    width: 97px;
    height: 40px;
    background-color: var(--color_article_AddCart);    
}

.article_button:hover {
    color: gray;
}